.changePassword-page{
    position: relative;
  
}

.changePassword-background{
    width: 100vw;
    display: flex;
}

.changePassword-left-background{
  width: 70vw;
  background-image: url('../../images/changepassword.jpg');
  background-repeat: no-repeat;
  background-size: 70vw 100vh;
  height: 100vh;
  color: rgb(155, 154, 154);
  position: relative;
  
}
.oms-logo{
    margin: 40px 0 0 80px;
}
.footer{
    position: absolute;
    bottom: 20px;
    font-weight: 300;
    width: 70vw;


}

.oms-use-link > a{
    color: #07B28F;
}

.footer-items{
    display: flex;
    justify-content: space-between;
    margin: 0 45px;
    border-bottom: 1px solid gray;
    padding: 15px 0;
}



.footer-links > a{
    text-decoration: none;
    color: rgb(155, 154, 154);
    
} 

.middle-link{
    margin: 0 20px;
}

.copy-right-text{
    text-align: center;
    padding-top: 10px;
    font-weight: 400;
}

.important{
    margin: 0 0;
    color: red;
}
.changePassword-right-background{
   width: 30vw;
   background-image: url('../../images/right.jpg');
   background-repeat: no-repeat;
   background-size: 30vw 100vh;
}


.changePassword-container{
    position: absolute;
    top:80px;
    right: 165px;
    
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 25px 45px;

}

.changePassword-container h1{
    color: #09D0A7;
    font-size: 35px;
    font-weight: 400;
    
}

.user-new-password,.user-confirm-password{
    margin-top: 20px;
}

.user-password-box{
    width: 87%;
    height: 15px;
    background-color: white;
    border: 1px solid rgb(206, 194, 253);
  
    display: flex;
    align-items: center;
    padding:20px;
    margin-top: 5px;
    border-left: 7px solid #09D0A7;
  
    border-image-slice: 1;
    border-radius: 5px;
}


.changePassword-page-icon{
    margin-right: 10px;
}


.user-password-box> input{
    flex: 1;
    height: 25px;
    border: none;
    outline: none;
    font-size: 16px;
}